root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

dotnet_analyzer_diagnostic.category-Reliability.severity = warning
dotnet_analyzer_diagnostic.category-Security.severity = warning
dotnet_analyzer_diagnostic.category-Performance.severity = warning
dotnet_analyzer_diagnostic.category-Design.severity = suggestion
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

dotnet_diagnostic.CA1062.severity = suggestion
dotnet_diagnostic.CA1303.severity = silent
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1716.severity = silent
dotnet_diagnostic.CA1812.severity = silent
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA1852.severity = warning

[*.{ts,tsx,js,jsx,css,md,json,yml,yaml}]
indent_style = space
indent_size = 2
